@use 'variables' as v;

@mixin icons {
  color: v.$primary-color;
  display: flex;
  font-size: 20px;
  transition: .3s ease-in;
}

@mixin color-cards {
  background: -webkit-linear-gradient(top right, v.$color-card-1, v.$color-card-2, v.$color-card-1, v.$color-card-2, v.$color-card-1);
  border-radius: 10px;
  border: 1px solid v.$color-border;
  box-shadow: 1px 3px 8px 1px v.$color-card-2;
}

@mixin bg-cards {
  background: -webkit-linear-gradient(bottom left, #9f9f9f, #555555, #9f9f9f, #555555, #9f9f9f,);
}

@mixin titles {
  font-size: 35px;
  text-align: center;
  margin: 0 0 30px 0;
  width: 100%;
}