$primary-color: #ffbb00;
$secondary-color: #fff200;
$color-nth-3: #353535;
$color-nth-4: #1f1f1f;

$color-icon: #ffffff;
$color-text: #ffffff;

$color-icon-networks: #1f1f1f;

// background gradiant cards

$color-card-1: #90909008;
$color-card-2: #ffffff18;

// background transparent

$color-btn-main: #ffffff00;
$color-border: #ffffff47;

// color shadow

$color-shadow: #3c3c3cdd;

// color-hover

$color-hover: #333333be;